<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=61586405381774" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/omeshnigam/" id="insta" target="_blank"><i class="fa-brands fa-instagram"></i></a>
           <a href="https://www.linkedin.com/in/omesh-nigam/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="f-info-brand">&copy; OmniLust Pvt Ltd</div>
        <!-- <br>
        <div>Made with &love; by Omesh Nigam</div> -->
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>